---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

span.quote {
  font-style: italic;
  font-family: serif;
}

span.emph {
  font-style: italic;
}

img.ico {
  display: block;
  margin: 1ex auto;
  width: 66%;
}

img.logo {
  display: block;
  margin: 1ex auto;
  width: 66%;
}

div.project {
  display: inline-block;
  margin: 1ex auto;
  width: 32%;
  text-align: center;
  font-size: small;
}

p.audience {
  font-variant: small-caps;
}

p.abstract {
  font-weight: bold;
  font-style: italic;
  border: $text-color .66pt solid;
  padding: 1ex;
  border-radius: 1ex;
  text-align: justify;
}

//https://www.colourlovers.com/palette/56122/Sweet_Lolly
$Sweet_Lolly__sofft_reddy_pink: #FF003C;

//https://www.colourlovers.com/palette/126030/Cruel_Water_at_Night
$Cruel_Water_at_Night__Deep_Ink: #030C22;
$Cruel_Water_at_Night__Dusty_Blue_Highlight: #A9B0B3;

$stroke_width: 2pt;

circle.node {
  stroke: $Cruel_Water_at_Night__Deep_Ink;
  stroke-width: $stroke_width;
  fill: $Sweet_Lolly__sofft_reddy_pink;
}

line.edge {
  stroke: $Cruel_Water_at_Night__Deep_Ink;
  stroke-width: $stroke_width;
}

svg {
  border: $stroke_width solid $Cruel_Water_at_Night__Dusty_Blue_Highlight;
}
